.div_addtasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}


input {
    background-color: #044110;
    width: fit-content;
    height: 32px;
    margin-right: 4px;
    border-radius: 9px;
    padding: 0 20px;
    color: rgb(251, 251, 251);
    font-size: 1em;
}

input::placeholder {
  color: rgb(255, 255, 255);

}

button {
  
    border-radius: 8px;
    border: 1px solid transparent;
    width: 40px;
    height: 32px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #044110;
    cursor: pointer;
    color: white;
  }

  button:active{
    border-color: aliceblue;
  }
  