

  .task {
    width: 70%; /* تغییر از مقدار ثابت به مقدار درصدی */
    
    background-color: #5584c3;
    border-radius: 20px;
    height: 90px;
    display: flex;
    justify-content: left;
    align-items: center;   
    margin: auto;
    padding-left: 10%;

  }
  
  .container {
    width: 80%;
    max-width: 1200px; /* مقدار پیش‌فرض */
    margin: 0 auto; /* وسط‌چین کردن */
  }
  
  @media (max-width: 2440px) {
    .container {
      width: 40%;
      max-width: 500px; 
    }
    .task {
      width: 40%; /* اطمینان از سازگاری با موبایل */
    }
  }
    
  @media (max-width: 670px) {
      .container {
        width: 80%;
        max-width: 290px;
      }  
    .task {
      width: 80%; /* اطمینان از سازگاری با موبایل */
    }
  }
  