

  .task {
    width: 70%; 
    background-color: hsl(207, 100%, 16%);
    border-radius: 20px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    margin: auto;
    padding-left: 10%;
    margin-bottom: 10px;

  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  @media (max-width: 2440px) {
    .container {
      width: 40%;
      max-width: 500px; 
    }
    .task {
      width: 40%; 
    }
  }
    
  @media (max-width: 670px) {
      .container {
        width: 80%;
        max-width: 290px;
      }  
    .task {
      width: 85%;
    }
  }
  

  .div_delete_and_check{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
  }

  .check{
    width: 25px;
    height: 25px;
  }

  .delete{
    width: 25px;
    height: 25px;
  }